.container-fluid{
    padding: 3% 15%;
}
#navbarsection{
    background:rgba(255, 255, 255, .4);
    /* box-shadow: 0 15px 20px rgba(0, 0, 0, .2); */
    padding-bottom: 10%;
    
    
}  
.row{
    padding-top: 3%;
    text-align: center;
}

.download-button{
    margin: 3% 1% 0% 0;
}
.web-brand{
    font-family: "montserrat";
}
h6{
    color: #8f8f8f;;
  
}
.computer-image{
    width: 100%;
    padding: 20px;
    margin-left: 30px;
}

.navbar-brand{
    font-family: "montserrat";
}

.cont{
    padding-top: 10%;
}

#carousels{
    background-color: #222831;
    text-align: center;
    margin-top: 2%;

}
.carousel-image{
    width: 55%;
}

.item-title{
    color: white;
    font-family: "montserrat";
}

.item-brand-title{
    color: black;
    font-family: "montserrat";
    text-align: center;
}


#pc-spec{
    background-color: white;
    
}


/* .cpu{
    width: 40%;
    margin: 100px auto 100px auto;
    text-align: center;
 
}  */

/* .cont{
    width: 50%;
} */

#pc-specs{
    padding: 5% 0;
  
    
}
.gaming-pc{
 width: 100%;
}

h3{
    font-family: "montserrat";
}
/* .item-descriptions{
    margin: 50px 0 0 0 ;
} */
/* .description{
    float: right;
} */


/* #footer{
    background-color: #222831;;
  
}

.footer-text{
    font-family: "montserrat";
    color: white;
}
.footer{
    text-align: center;
  
}
.footer-items{
    padding:  5% 20%;
}
.social-icon{
    padding: 3px 10px 0 10px;
} */


#footer{
    background-color: #222831;
}
.my-image{
  width: 10%;
  border-radius: 100%;
}
.social-icon{
    padding:5px 10px 0 10px;
}
.name{
    padding-top: 10px;
}